
    <div class="container">

      <div class="block">
        <div class="level">
          <div class="level-left">

          </div>
          <div class="level-right">
            {{#link-to "valves.new" class="button is-info"}}
              Add
            {{/link-to}}
          </div>
        </div>
      </div>

      {{#each model as |valve|}}
        <div class="block">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{valve.name}}</strong>
                    <br>
                    {{valve.description}}
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <a class="level-item">
                      <p>{{valve.status}}</p>
                    </a>
                  </div>
                  <div class="level-right">
                    <a class="level-item">
                      {{#if valve.state}}
                        <i {{action 'switch' valve.id 0}} class="fa fa-toggle-on fa-lg" aria-hidden="true"></i>
                      {{else}}
                        <i {{action 'switch' valve.id 1}} class="fa fa-toggle-off fa-lg" aria-hidden="true"></i>
                      {{/if}}
                    </a>
                  </div>
                </nav>
                <nav class="level">
                  <div class="level-left">
                    <a {{action "delete" valve.id}} class="level-item button is-danger">
                      <i class="fa fa-trash-o fa-lg"></i>
                      <space></space>
                      Delete
                    </a>
                  </div>
                  <div class="level-right">
                    {{#link-to "valve.edit" valve class="level-item button is-info"}}
                      <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                      Edit
                    {{/link-to}}
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      {{/each}}

    </div>